@page
@using Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Lien Sample</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameForInnerType((Lien model) => model.Company)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Lien model) => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Lien model) => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Liens) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table></div>
